.product-list {
  width: 88%;
  margin: auto;
}

.category-name {
  margin: 4rem 0;
}

.category-name h1 {
  font-weight: 400;
}

.product-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 3.375rem;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.temp-footer {
  height: 100px;
}
