@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

.cart-item {
  display: grid;
  grid-template-columns: 14fr 1fr 2fr;
  justify-content: center;
  align-items: center;
  border: 1px #e5e5e5;
  border-style: solid none;
  padding: 1.2rem 0;
  column-gap: 0.5rem;
}

.dropdown {
  grid-template-columns: 6fr 1fr 6fr;
  padding: 0.1rem 0;
  column-gap: 0.5rem;
  width: 90%;
  border: none;
  margin: 5rem auto;
  font-size: 1rem !important;
}

.item-info h2,
h3 {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}

.item-info h3 {
  font-weight: 400;
}

.dropdown h2,
h3 {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.price {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.dropdown > .item-info > .price {
  font-size: 1.1rem !important;
  font-weight: 500 !important;
}

.adding-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 18rem;
}

.dropdown > .adding-actions {
  height: 12rem;
}

.dropdown > .adding-actions > .quantity {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.quantity {
  font-size: 1.2rem;
}

.product-photo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.5rem;
  height: 18rem;
}

.product-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-photo button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.73);
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.previous-photo-btn {
  position: absolute;
  bottom: 1rem;
  right: 3rem;
}

.next-photo-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.dropdown .product-photo {
  width: 7.5rem;
  height: 11.8rem;
}

.dropdown .product-photo button {
  display: none;
}

@media (max-width: 350px) {
  .cart-item {
    grid-template-columns: 2fr 1fr 2fr;
  }

  .product-photo {
    width: 7.5rem;
    height: 11.8rem;
  }
}
