.product-item {
  align-self: center;
  justify-content: center;
  justify-self: center;
  margin: auto;
  font-size: 18px;
  max-width: 24rem;
}

.product-image-field {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.product-image {
  width: 22rem;
  height: 20rem;
  object-fit: cover;
}

.product-item h3 {
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  font-weight: 400;
  font-size: 1.2rem;
}

.product-item h4 {
  margin: 0;
}

.add-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 3.25rem;
  height: 3.25rem;
  bottom: -1.12rem;
  right: 1rem;
  background-color: #5ece7b;
  border-radius: 50%;
}
